section {
    text-align: center;
}

section .title {
    font-size: 1.2em;
    width: fit-content;
    margin: 0 auto;
}

section .my-work {
    padding: 50px 0;
}

section .my-work a {
    color: black;
}


@media (max-width: 600px) {
    section .title {
        font-size: 1em;
    }

    section .my-work {
        padding: 10px 0;
    }
}
