.principal-box {
    height: 90vh;
    display: flex;
}

.principal-box .right-box, .principal-box .left-box {
    float: left;
    padding: 40px;
}

.principal-box .left-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.principal-box .left-box .title {
    font-family: 'Roboto-light';
    padding: 10px;
    font-size: 2em;
    letter-spacing: 5px;
    color: #353232;
    line-height: 150%;
}

.principal-box .left-box .subtitle {
    font-size: 1em;
}

.principal-box .left-box .mark {
    color: #12e6c8;
}

.principal-box .right-box {
    width: 40%;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(0%);
    opacity: 0.9;
    transition: .5s;
}

.principal-box .right-box:hover {
    opacity: 1;
    transition: .5s;
}

@media (max-width: 600px) {
    .principal-box {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .principal-box .left-box .title {
        font-size: 1em;
    }
    .principal-box .right-box, .principal-box .left-box {
        width: 100%;
        padding: 0;
    }
    .principal-box .left-box {
        min-height: 20vh;
        height: auto;
        order: 2;
    }
    .principal-box .right-box {
        min-height: 40vh;
        background-size: 80% 80%;
        background-position: center;
        order: 1;
    }
}