.about {
    text-align: left;
}

.about h1 {
    font-size: 2em;
    width: fit-content;
}

.about p {
    font-size: 1.2em;
}

.about .icons img {
    margin-right: 10px;
    /*filter: grayscale(100%);*/
    opacity: 0.8;
}

.about p a {
    border: none;
}

@media (max-width: 600px) {
    .about {
        padding: 20px;
    }   
    .about h1 {
        font-size: 1.5em;
    }

    .about p {
        font-size: 1em;
    }
}